h1 {
 color: #000000;
 font: size 150px;
}
h2 {
 color: #000000;
 font: size 100px;
}
p1 {
 color: #000000;
 font: size 40px;
 }
p2 {
 color: #000000;
 font: size 50px;
}
h3 {
 color: #000000;
 font: size 70px;
}
p3 {
 color: #002fff;
 font: size 40px;
}
p4 {
 color: #000000;
 font: size 80px;
}
